<form method="post" action="/animals/<%= @animal.id %>">
  <label for="name-field">Name:</label>
  <input type="text" name="name" id="name-field"value="<%= @animal.name %>"/>

  <label for="type-field">Type:</label>
  <input type="text" name="type" id="type-field" value="<%= @animal.type %>"/>

  <label for="adoptable-selection">Available for adoption:</label>
  <select name="adoptable" id="adoptable-selection">
    <option value="Yes" <%= "selected" if @animal.adoptable == "t" %>>Yes</option>
    <option value="No" <%= "selected" if @animal.adoptable == "f" %>>No</option>
  </select>

  <label for="admission-date-field">Admission date:</label>
  <input type="date" name="admission_date" id="admission-date-field" value="<%= @animal.admission_date() %>"/>

  <label for="photo-url-field">Photo link:</label>
  <input type="text" name="photo_url" id="photo-url-field" value="<%= @animal.photo_url %>"/>

  <label for="owner-id-field">Owner:</label>
  <input type="text" name="owner_id" id="owner-id-field" value="<%= @animal.owner_id %>"/>

  <input type='submit' value="Edit animal">
</form>
