<div class= "container">
    <p>First name: <%= @owner.first_name %></p>
    <p>Last name: <%= @owner.last_name %></p>
    <p>Address: <%= @owner.address %></p>
    <p>Email: <%= @owner.email %></p>
    <img src = "<%= @owner.photo_url %>"/>
    <% if session[:name] == "administrator" %>
      <form action="/owners/<%= @owner.id %>/edit" method="get">
        <input id ="edit-button" type='submit' value="Edit owner's details">
      </form>
      <form action="/owners/<%= @owner.id %>/delete" method="post">
        <input id ="delete-button" type='submit' value="Remove owner from the database">
      </form>
    <% end %>
</div>
